@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ===== removing ugly focus but allowing keyboard users to see it  ===== */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.trans {
  transition: all 0.25s;
}

.header-shadow-effect-extreme {
  text-shadow: -2.5px 3px 0px #b2b7ff, -5px 7px 0px #7886d7,
    -7.5px 10px 0px #6574cd;
}

.header-shadow-effect-light {
  text-shadow: 3px 3px 0px #b2b7ff;
}

.light-gray-bg {
  background-color: #f6f9fc;
}

@media screen and (max-width: 992px) {
  .icon-show {
    display: none !important;
  }

  .tech-header {
    margin-bottom: 2rem;
  }
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.about-header {
  position: relative;
  display: inline-block;
}

.technologies-section::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  transform: skewY(-12deg);
  transform-origin: 0%;
  background: #f6f9fc;
}

.technologies-section {
  width: 100%;
  position: relative;
  background: #f6f9fc;
}

.contact-section {
  width: 100%;
  position: relative;
  background: #f6f9fc;
}

.submit-button {
  transition: 0.25s;
}

.submit-container:hover .submit-button {
  transform: translateY(2px);
}

.submit-container:hover {
  cursor: pointer;
}

.icon-container:hover .social-icon {
  transform: translateY(2px);
}

.footer-bg {
  background-color: rgb(146, 142, 151);
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ===== nav stuff ===== */

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-image: linear-gradient(145deg, #2f365f, #5661b3);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #fff; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* ==== animated submit stuff  ==== */

.animated-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #6574cd;
  color: #6574cd;
  letter-spacing: 1px;
  transition: all 0.25s ease;
}

.animated-button font {
  size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.animated-button:hover {
  color: white;
  background: #6574cd;
}

.animated-button:active {
  letter-spacing: 2px;
}

.animated-button:after {
  content: 'Submit';
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #6574cd;
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: '';
}

.onclic:hover {
  color: #6574cd;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ecd97;
  border: 2px solid #1ecd97;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.validate:hover {
  background: #1ecd97;
  border: 2px solid #1ecd97;
}

.validate:after {
  font-family: 'FontAwesome';
  font-size: 1.25em;
  content: '\f00c';
}

.submit-error {
  font-size: 13px;
  color: white;
  background: #ef5753;
  border: 2px solid #ef5753;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.submit-error:hover {
  background: #ef5753;
  border: 2px solid #ef5753;
}

.submit-error:after {
  font-family: 'FontAwesome';
  font-size: 1.25em;
  content: '\f00d';
}

.validate:before {
  font-family: Open Sans;
  content: 'Sent! ';
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
