.trans {
  transition: all 0.25s;
}

.no-underline {
  text-decoration: none;
}

.header-shadow-effect-extreme {
  text-shadow: -2.5px 3px 0px #b2b7ff, -5px 7px 0px #7886d7,
    -7.5px 10px 0px #6574cd;
}

.header-shadow-effect-light {
  text-shadow: 3px 3px 0px #b2b7ff;
}

.light-gray-bg {
  background-color: #f6f9fc;
}

@media screen and (max-width: 992px) {
  .icon-show {
    display: none !important;
  }

  .tech-header {
    margin-bottom: 2rem;
  }
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.about-header {
  position: relative;
  display: inline-block;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
