.trans {
  transition: all 0.25s;
}

.header-shadow-effect-extreme {
  text-shadow: -2.5px 3px 0px #b2b7ff, -5px 7px 0px #7886d7,
    -7.5px 10px 0px #6574cd;
}

.header-shadow-effect-light {
  text-shadow: 3px 3px 0px #b2b7ff;
}

.light-gray-bg {
  background-color: #f6f9fc;
}

@media screen and (max-width: 992px) {
  .icon-show {
    display: none !important;
  }

  .tech-header {
    margin-bottom: 2rem;
  }
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.about-header {
  position: relative;
  display: inline-block;
}

.technologies-section::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  transform: skewY(-12deg);
  transform-origin: 0%;
  background: #f6f9fc;
}

.technologies-section {
  width: 100%;
  position: relative;
  background: #f6f9fc;
}

/* .contact-section::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-12deg);
  transform-origin: 0%;
  background: #fff;
} */

.contact-section {
  width: 100%;
  position: relative;
  background: #f6f9fc;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ===== nav stuff ===== */

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-image: linear-gradient(145deg, #2f365f, #5661b3);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #fff; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* MEDIA QUERIES TO HIDE SLIDEOUT MENU */

/* @media screen and (min-width: 768px) {
  .slideout-panel {
    margin-left: 256px;
  }
} */
